.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-title {
  text-align: center;
  padding-top: 45px;
}

.cars-card {
  text-align: center;
  margin: 61px 34px;
  padding: 0 67px 75px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  background: #23262d;
}

.cars-card-title {
  padding-bottom: 18px;
  color: white;
}

.cars-card-image {
  margin: auto;
  width: 500px;
  height: 360px;
  box-shadow: -2px -1px 20px 1px white;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.cars-card-image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.cars-card-image img:hover {
  --webkit-filter: blur(4px);
  filter: blur(4px);
}

.image-info {
  display: none;
}

.cars-card-image:hover + .image-info {
  display: block;
  pointer-events: none;
  color: white;
  margin-bottom: -51px;
}
