.form-validate h1 {
  margin-bottom: 45px;
}

.form-validate {
  margin: 83px 300px;
  padding: 50px;
  box-shadow: 1px 1px 9px -5px black;
  text-align: center;
}

.form-validate-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-validate-content input {
  width: 42%;
  height: 38px;
  margin-bottom: 30px;
  border-radius: 8px;
}

.form-validate-content input[type='submit'] {
  width: 20%;
  background: white;
  font-size: 15px;
}
